# Ignore these directories
minecraft/natives/*
minecraft/.mixin.out/*
minecraft/backup/*
minecraft/config/*
minecraft/crash-reports/*
minecraft/ct_dumps/*
minecraft/journeymap/*
minecraft/local/*
minecraft/logs/*
minecraft/natives/*
#minecraft/resourcepacks/*
minecraft/saves/*
minecraft/screenshots/*
minecraft/XaeroWorldMap/*
minecraft/XaeroWaypoints/*
natives/*
server/config/*
server/crash-reports/*
server/world/*

# Ignore these files
minecraft/BotaniaVars.dat
minecraft/controllable-options.txt
minecraft/instance.cfg
minecraft/instance.json
minecraft/docs/.~lock.*
minecraft/instance.cfg
minecraft/config/serverutils/permissions.json
minecraft/mods/*
minecraft/ops.json
minecraft/options.txt
minecraft/optionsof.txt
minecraft/optionsshaders.txt
minecraft/patchouli_data.json
minecraft/realms_persistence.json
minecraft/reauth.toml
minecraft/screenshots/*
minecraft/TrashSlotSaveState.json
minecraft/usercache.json
minecraft/usernamecache.json
server/.mixin.out/*
server/backup/*
server/config/defaultoptions/*
server/journeymap/*
server/logs/*
server/mods/*
server/world*
server/whitelist.json
server/server.json
server/mods_0.1.tar.gz
server/banned-ips.json
server/banned-players.json
server/ops.json
server/usernamecache.json
server/*.tar.xz
server/usercache.json
minecraft/knownkeys.txt
instance.cfg
*.log
*.code-workspace
*.disabled
*.pdat
*_0.*

# Do not ignore these directories
!minecraft/defaultworldtype
!minecraft/config/defaultoptions
!minecraft/config/ftbquests
!minecraft/config/ProjectEssentials
!minecraft/config/serverutils
!server/config/defaultoptions
!minecraft/config/fancymenu
!server/config/ftbquests
!server/config/ProjectEssentials
!server/config/serverutils

# Do not ignore these files
!minecraft/config/packmenu.cfg
!minecraft/config/serverutils/kits/Starter.json
!mmc-pack.json
